body {
    min-height: 100vh;
    font-family: 'Times New Roman';
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Times New Roman';
    overflow-x: hidden;
}

.main-title {
    display: inline-block;
    text-shadow: #17f700 0 0 7px;
    color: #17f700;
    font-size: 55pt;
    text-decoration: none;
    font-style: italic;
    position: fixed;
    transform: scaleY(2.7);
    transition: all 0.3s ease;
    animation: maintitleMove 1.7s ease;
}

@keyframes maintitleMove {
    from {
        transform: translateY(-550px) scaleY(1);
        opacity: 0;
        letter-spacing: 150px;
    }

    to {
        transform: translateY(0) scaleY(2.7);
        opacity: 1;
        letter-spacing: 0px;
    }
}

.main-title:hover {
    text-shadow: #17f700 0 0 25px;
    transform: scaleY(3.7);
    color: white;
}

.small-title {
    display: inline-block;
    top: 4%;
    left: 1.7%;
    text-shadow: #17f700 0 0 2px;
    color: #17f700;
    font-size: 18pt;
    text-decoration: none;
    transform: scaleY(2.7);
    font-style: italic;
    transition: all 0.3s ease;
    position: fixed;
    animation: smalltitleMove 1.7s ease both;
}

@keyframes smalltitleMove {
    from {
        transform: translateX(200px) scaleY(1);
        letter-spacing: 20px;
        opacity: 0;
    }

    to {
        transform: translateX(0px) scaleY(2.7);
        letter-spacing: 0px;
        opacity: 1;
    }
}

.small-title:hover {
    text-shadow: #17f700 0 0 7px;
    transform: scaleY(3.7);
    color: white;
}

.timer {
    top: 0;
    left: 56%;
    z-index: -1;
    display: inline-block;
    color: black;
    font-size: 20pt;
    text-decoration: none;
    font-style: italic;
    position: fixed;
}

.timerLocation {
    top: 4%;
    left: 93.5%;
    z-index: -1;
    display: inline-block;
    color: black;
    font-size: 18pt;
    text-decoration: none;
    font-style: italic;
    position: fixed;
    transform: scaleY(2.7);
    animation: smalltimerMove 1.7s ease both;
}

@keyframes smalltimerMove {
    from {
        transform: translateX(-200px) scaleY(1);
        letter-spacing: 20px;
        opacity: 0;
    }

    to {
        transform: translateX(0px) scaleY(2.7);
        letter-spacing: 0px;
        opacity: 1;
    }
}

.timerAnimation {
    animation: timerMove 3.4s ease-in-out infinite;
}

@keyframes timerMove {
    0% {
        transform: translateY(-60px) scaleY(1);
        opacity: 0;
    }
    50% {
        transform: translateY(56vh) scaleY(2.7);
        opacity: 1;
    }
    70% {
        transform: translateY(56vh) scaleY(2.7);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) scaleY(1);
        opacity: 0;
    }
}

.p1 {
    margin-top: 55px;
    position: relative;
    top: -15px;
    text-align: center;
    font-size: 18pt;
    font-style: italic;
}

.p2 {
    margin-top: 55px;
    position: relative;
    top: -42px;
    text-align: center;
    font-size: 18pt;
    font-style: italic;
}

.p3 {
    margin-top: 55px;
    position: relative;
    top: -52px;
    text-align: center;
    font-size: 18pt;
    font-style: italic;
}

.p4 {
    margin-top: 55px;
    position: relative;
    top: -15px;
    text-align: center;
    font-size: 18pt;
    font-style: italic;
}

.p5 {
    margin-top: 55px;
    position: relative;
    top: -20px;
    text-align: center;
    font-size: 18pt;
    font-style: italic;
}


.ascii1 {
    position: absolute;
    top: -350px;
    left: 45px;
    animation: ascii 4.8s linear 0.8s infinite;
}
.ascii2 {
    position: absolute;
    top: -350px;
    left: -45px;
    animation: ascii 4.8s linear 1.6s infinite;
}
.ascii3 {
    position: absolute;
    top: -350px;
    left: 45px;
    animation: ascii 4.8s linear 2.4s infinite;
}
.ascii4 {
    position: absolute;
    top: -350px;
    left: -45px;
    animation: ascii 4.8s linear 3.2s infinite;
}
.ascii5 {
    position: absolute;
    top: -350px;
    left: 45px;
    animation: ascii 4.8s linear 4s infinite;
}
.ascii6 {
    position: absolute;
    top: -350px;
    left: -45px;
    animation: ascii 4.8s linear 4.8s infinite;
}
@keyframes ascii {
    0% {
        transform: translateY(-250px);
    }
    100% {
        transform: translateY(140vh);
    }
}

.notinteractive {
    pointer-events: none;
}

.invisible {
    opacity: 0;
}

.hidden {
    opacity: 0;
    filter: blur(7px);
    transform: translateX(-100%);
    transition: all 0.8s ease;
}